/**
 * global.css for present.modal
 *
 * ...
 */
 
body { 
	background: #000 url(../_img-ui/win95-screensaver-ftw.gif); 
	font: 0.75em/1.5 Helvetica, Arial, sans-serif; 
	color: #FFEF3F; }
h1,h2,h3,h4,h5,h6 { margin: .3em 0; }

a { color: #CBC2AC; }

a:hover { color: #FFEF3F; }

.wrapper { margin: 0 auto; width: 960px; outline: 1px red solid; }
	
/* New form idea */

.single-column-form dd { margin: 0; }
.single-column-form fieldset { border: none; padding: 0; margin: 0; }
.single-column-form .controls ul { padding: 0; }
.single-column-form .controls li { display: inline; }

/* Frame */

html.modal-visible { }

.modal-overlay { 
    top: 0;
    left: 0;
    background: orange;
    display: none;
    position: absolute; 
    height: 100%; 
    width: 100%;
    opacity: .6; }
.modal-frame { 
	background: #000 url(../_img-ui/win95-screensaver-ftw.gif); 
	display: none; 
	position: absolute; 
	top: 15%; /* By default */
	left: 50%;  
	width: auto;
	box-shadow: 0 0 1em #333;
	outline: 1px red solid; }
.modal-frame-inner { }
.modal-frame-title { padding: 1em; background: #333; color: #fff; }
.modal-frame-title h2,h3,h4,h5,h6 { font-size: 12px; }
.modal-frame-content { padding: 1em; outline: 1px red solid; }

.columns-3 { width: 460px; display: inline; float: left; margin-left: 10px; }

.modal-frame.columns-3 { 
    left: 540px; /* should be relative to columns or max-columns; */
    position: relative; 
    display: none; 
    margin-left: -230px; /* for absolute center? */
    float: none; }

/*
 * Old method
 *
 * @see             main.js
 */
 
/*
.modal-frame:target { display: table; }
*/
