/**
 * global.css for present.modal
 *
 * ...
 */
 
body { 
	background: #000 url(../_img-ui/win95-screensaver-ftw.gif); 
	font: 1em Helvetica, Arial, sans-serif; 
	color: #FFEF3F; }

a { color: #CBC2AC; }

a:hover { color: #FFEF3F; }

ul { 
	overflow: hidden; 
	list-style: none; }

ul li { float: left; }

ul li img { 
	width: 150px; 
	border: 3px #666 solid; 
	margin: 0 1em 0 0; }

.modal-overlay { 
	background: #000 url(../_img-ui/win95-screensaver-ftw.gif); 
	display: none; 
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 100%; 
	width: 100%; }

.modal-overlay a { 
	display: table-cell; 
	vertical-align: middle; 
	text-align: center;
	height: 100%;
	width: 100%;
	outline: none;
	border: none; }

.modal-overlay img {
	height: 400px;
	border: 3px #999 solid; }

/*
.overlay:target { 
	display: table; }
*/